@import url('https://fonts.googleapis.com/css2family=Cormorant+Garmond:wght600;700&family=Inter:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body { 
  background: #F8F7F4;
  color: #1E1E1E;
  font-family: 'Inter', sans-serif;
}